// $primaryColor: #03A9F4;
$primaryColor: #009688;
// $primaryDarkColor: #0277BD;
$primaryDarkColor: #009688;

$primaryLightColor: #81D4FA;
$accentColor: #FFC107;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #212121;



@import '../sass/theme/_theme';




/* You can add global styles to this file, and also import other style files */


